@import "./variable";

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNovaRegular.otf");
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNovaLight.otf");
  font-weight: $font-weight-light;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNovaBold.otf");
  font-weight: $font-weight-bold;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNovaSemiBold.otf");
  font-weight: $font-weight-semibold;
}

@mixin wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0 30px;
}
