@import "../../styles/variable";
@import "../../styles/mixin";

.header {
  width: 100%;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  &__wrapper {
    @include wrapper;
    height: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
    &__trigger {
      cursor: pointer;
    }
    &__logo {
      cursor: pointer;
      @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        height: 24px;
      }
      @media (max-width: $mobile-max-width) {
        height: 24px;
      }
    }
    &__search {
      max-width: 400px;
      min-width: 200px;
      width: 28%;
    }
    &__left-navbar {
      display: flex;
      height: 80px;
      align-items: center;
      margin-left: auto;
      &__user {
        .dropdown-item {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        &__toggle {
          padding-bottom: 4px;
        }
      }
    }
    .margin {
      &__right {
        &.-long {
          margin-right: 40px;
        }
        &.-short {
          margin-right: 20px;
        }
        &.-very-short {
          margin-right: 10px;
        }
      }
    }
  }

  &__categories {
    background: white;
    height: 60px;
    width: 100%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    &.-show {
      display: block;
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 0.5s;
      animation-name: fadeIn;
      animation-duration: 0.5s;
    }
    &.-hide {
      display: none;
    }
    &__wrapper {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__row {
        display: flex;
        padding: 0 18px;
        height: 60px;
        position: relative;
        align-items: center;
        &:hover {
          .header__categories__wrapper__row__name {
            color: #5dbdf9 !important;
          }
        }
        &__icon {
          height: 24px;
          margin-right: 5px;
        }
        &__popup {
          position: absolute;
          display: none;
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          top: 60px;
          &__container {
            margin-top: 10px;
            background: white;
            display: flex;
          }
          &__parent {
            width: 200px;
            background: white;
            display: flex;
            flex-direction: column;
            padding: 20px;
            position: relative;
            border-right: 1px solid #efefef;
            .triangle {
              position: absolute;
              top: -10px;
              left: 40px;
              margin-left: 0;
              border-bottom: 10px solid white;
              border-right: 10px solid transparent;
              border-left: 10px solid transparent;
              z-index: 2;
            }
            &__item {
              text-align: left;
              padding: 10px 0;
              font-weight: $font-weight-semibold;
            }
            &__item.active {
              color: #5dbdf9 !important;
            }
          }
          &__child {
            width: 200px;
            background: white;
            display: flex;
            flex-direction: column;
            padding: 20px;
            &__item {
              text-align: left;
              padding: 10px 0;
            }
          }
        }
        &:hover {
          .header__categories__wrapper__row__popup {
            display: flex;
          }
        }
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: $desktop-min-width) {
  .mobile {
    display: none !important;
  }
}
@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .desktop {
    display: none !important;
  }
}
@media (max-width: $mobile-max-width) {
  .desktop {
    display: none !important;
  }
}
