@import "../../styles/variable";

.most-view-card {
  width: 100%;
  padding: 0 8px;

  &__thumbnail {
    position: relative;

    &__viewer {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      padding: 0 40px;
      bottom: 10px;

      &__title {
        font-size: 20px;
        font-weight: $font-weight-bold;
        color: white;
      }
      &__content {
        display: flex;

        img,
        &__total {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid white;
          margin-right: 10px;
        }

        &__total {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
    &__img {
      width: 100%;
      max-height: 300px;
    }
  }
}
